@charset "utf-8";

/*値段の部分*/

.mainbar h2 {
  font-size: 20px;
  margin-bottom: 0;
  margin-left: 20px;
}

.pricelist-contents {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-left: 10px;
}

.pricelist-contents li {
  margin-bottom: 30px;
  display: flex;
  flex-flow:column;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  width: 235px;
}

.pricelist-contents li img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.pricelist-contents li h3 {
  margin: 10px 0 10px 0;
  text-align: center;
  font-size: 14px;
}

.price {
  font-size: 20px;
  text-align: center;
  margin: 5px 0 5px 0;
  font-weight: bold;
  font-family: sans-serif; 
}

.explanation {
  margin-top: 5px;
  padding: 5px;
  font-size :14px;
  line-height: 2;
  text-align: center;
}

.button {
  display: block;
  margin: auto 5px 5px 5px;
  padding: 5px 0 5px 0;
  text-align: center;
  background-color: #7bd7d2;
  color: #ffffff;
  text-decoration: none;
}

.button:hover {
  color: #d77b80;
}
