// レスポンシブWebデザインp27 
.slide-item {
	opacity: 0;
	transition: 3s;
	position: relative;
}

.slick-initialized {
	opacity: 1;
}

.slick-dots {
	width: 100%;
	position: absolute;
	bottom: 1rem;
	left: 0;
}

.slick-dots li button::before {
	font-size: 1rem;
	color: #aaa;
}

@media (min-width: 900px) {
	.slick-dots li button::before {
		font-size: 2rem;
	}
}

.slick-dots li.slick-active button::before {
	color: #333;
}

.slick-dotted.slick-slider.slide-item {
	margin-bottom: 0;
}

.slide-item img {
	margin-bottom: 0;
}

.slick-prev,
.slick-next {
	&::before {
		font-family: 'FontAwesome';
		font-size: 2rem;
		text-shadow: 1px 2px 2px #777;
	}
}

.slick-prev {
	left: 4rem;
	z-index: 1;

	&::before {
		content: '\f053';
	}
}

.slick-next {
	right: 4rem;

	&::before {
		content: '\f054';
	}
}